h1{
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family:'Montserrat', sans-serif;
}
p{
    font-family:'Montserrat', sans-serif;
}
label{
    font-family:'Montserrat', sans-serif;
}
.btn{
    font-family:'Montserrat', sans-serif;
}
.form-control{
    background-color: #d3d3d3 !important;
    font-family:'Montserrat', sans-serif;
    color: black;       
    }
    .form-control::-webkit-input-placeholder {
        background-color: #d3d3d3;
        border-radius: 11px;
        color: black !important;
    }
    .form-control::-moz-placeholder {
        background-color: #d3d3d3;
        border-radius: 11px;
        color: black !important;
    }
    ::-webkit-input-placeholder {
        font-family:'Montserrat', sans-serif;
    }
    ::-moz-placeholder {
        background-color: #d3d3d3;
        font-family:'Montserrat', sans-serif;
    }
.borde-separacion {
    border-color: #1595a3!important;
    border-bottom: 5px solid;
}

.logoRolling {
    height: 50px;
}
@media (min-width: 768px) {
    .logoRolling {
        height: 90px;
    }
 }
@media (max-width: 768px) {
    .letrasFooter {
        font-size: 15px;
    }
 }

/*   main index */

.titulo{
font-family: 'Roboto Slab', serif;
background-color: #00000069;
padding: 0.3rem;
font-size: 27px;
}

.titulo{
    font-size: 23px;
}
@media only screen and (min-width: 1000px) {
   .titulo{
       font-size: 60px;
       padding: 0.5rem;
   }
  }

.fondotitulo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-img-overlay{
    padding: 0rem;
}
.titulocards{
    display: flex;
    justify-content: center;
    font-family:'Roboto Slab', serif; 
    font-size: 19px;
}

.card-body{
    font-family: 'Montserrat', sans-serif;
}
.card-img{
    width: 100vw;
}