.titulo{
font-family: 'Roboto Slab', serif;
background-color: #00000069;
padding: 0.3rem;
font-size: 28px;
}

.fondotitulo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card-img-overlay{
    padding: 0rem;
}
.titulocards{
    display: flex;
    justify-content: center;
    font-family:'Roboto Slab', serif; 
}
.card-body{
    font-family: 'Montserrat', sans-serif;
}